<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../public/images/wemaste-favicon.png">
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="../public/stylesheets/core.css" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <!-- Page level plugin CSS-->
    <!-- <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"> -->
  
    <!-- Custom styles for this template-->
    <link href="../public/stylesheets/sb-admin.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/javascripts/global.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js'></script>
    <!-- <script src="https://raw.githubusercontent.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script> -->
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top header-light nav-darkblue bg-pink nav-white-text nav_line">
        <button class="btn btn-link btn-sm text-extra-dark-gray order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <a href="dashboard" title="Logo" class="logo scroll navbar-brand">
            <img src="../public/images/whimstay-logo.png" class="logo-dark" alt="boltex">
        </a>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-blue btn-rounded" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div> -->
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <!-- <li class="nav-item active">
                    <a class="nav-link" href="dashboard">
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="./propertyUserDetails">
                      <i class="fas fa-user-alt"></i>
                      <span>Activity</span>
                    </a>
                  </li> -->
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                    <span>Sign Out</span>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>