<!DOCTYPE html>
<html lang="en">

<body>

    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="./callerVerification">
                <i class="far fa-address-card"></i>
                <span>Caller Verification</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./welcome">
                <i class="fas fa-home"></i> <span>Welcome</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Property Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./propertyUserDetails">
                <i class="fas fa-user-alt"></i>
                <span>User Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                <i class="fas fa-hand-holding-usd"></i> <span>Bookings</span></a>
            <ul class="collapse list-unstyled" id="homeSubmenu1">
                <li class="nav-item active">
                    <a class="nav-link" href="./bookingList">

                        <span>Booking List</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./bookingRefund">

                        <span>Booking Refund</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./claimBooking">

                        <span>Claim Reconciliation</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./approveReview">

                        <span>Approve Review for Traveller</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./approvePropertyReview">

                        <span>Approve Review for Property</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"> <i
                    class="fas fa-sliders-h"></i> <span>Service</span></a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a class="nav-link" href="./serviceFee">

                        <span>Service Fee</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="./hostServiceFee">

                        <span>Host Service Fee</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./faq">
                <i class="fas fa-pen"></i>
                <span>FAQ</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./termsAndCondition">
                <i class="fas fa-copyright"></i>
                <span>Terms and Conditions</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./contactUs">
                <i class="far fa-address-card"></i>
                <span>Contact Us</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="./reports">
                <!-- <i class="far fa-clipboard"></i> -->
                <i class="far fa-address-card"></i>
                <span>Reports</span>
            </a>
        </li>
    </ul>
</body>

</html>